# Visual Studio Code
**/.vscode/

# Keil project
**/.out/
**/*.uvgui.*
*.scvd
 *.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.uvgui
*.uvgui*
*.bak
*.tra
*.dep
JLinkLog.txt
*.iex
*.htm
*.sct
*.map
*.dep

# Protus project
**/*.pdsbak
**/**.workspace